body{
  font-family: メイリオ;
  background-color: whitesmoke;
  color: #737373;
  
}

:visited{
  color: lightcoral;
}

a:hover{
  opacity: 0.5;
}
h1{
  color: #383838;
}

em{
  background-color: lightcoral;
  color: whitesmoke;
}
footer{
  text-align: center;
}

.Article{
  padding: 10px;
  margin: 10px;
}