body{
  font-family: メイリオ;
  background-color: whitesmoke;
  color: #737373;
  
}


:visited{
  color: lightcoral;
}

a:hover{
  transform: all 0.3s ease 0.5s;
  opacity: 0.5;
}
h1{
  color: #383838;
}
img{
  margin: 0px;

  
}

.CircleImage{
  border-radius:500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.appIcon{
  border-radius: 30px;
  width: 150px;
  height: 150px;
}

.appList > li{
  display: inline-block;
  text-align: center;
  list-style-type: none;
  list-style: none;
  line-height: 50px;
  
  margin-bottom: 5px;
}

.appList > li > a{
  color: aliceblue;
  position: relative;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  border-radius: 500px;
  width: 80%;
  background-color: #0B9;
  top:0px;
  left: 0px;
  padding: 5px 20px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  text-decoration: none;
}

em{
  background-color: lightcoral;
  color: whitesmoke;
  padding: 2px;
}
footer{
  text-align: center;
}

.Title{
  text-align: center;
}

.Title:hover{
  opacity: 0.5;
}


.Article{
  padding: 10px;
  margin: 10px;
}

.Article > h2{
  text-align: center;
}
.Article > li > a{
  opacity: 0.5f;
  transition: opacity 0.3s ease 0.5s;
  margin-left: 25px;
}

.Article > li > a > img{
  margin: 10px;
  padding: 0px;
  opacity: 1.0f;

}


.SNS{
  padding: 10px;
  margin: 10px;
}

.Fig{
  margin-top: -20px;
  text-align: center;
  color: #383838;
}
.Nav{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 0px;

  
}

.Nav > iframe{
  border: 0;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;

  overflow: hidden;
}

#Header{
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100%;
  flex-wrap: wrap;
  
}

#Header  > li{

  display: inline-block;
  margin-left: 0;
  width: 100px;
  height: 140px;
  position: relative;
  text-align: center;
}

#Header > li > a {
  background-color: #0B9;
  color: #FFF;
  display: block;
  font-size: 16px;
  font-family: "Tahoma";
  border: 5px solid #0B9;
  border-radius: 500px;
  text-decoration: none;
  width: 80px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  position: absolute;
  transition: all ease 0.2s;
  top: 0px;
  left: 0px;
}


#Header > li > a:hover{
  background-color: #FFF;
  opacity: 1.0;
  color: #0B9;
  width: 90px;
  height: 90px;
  line-height: 90px;
  top: 0;
  left: 0;
}
.Index{
  padding: 10px;
  margin: 10px;
  text-align: center;
}
.Index > li{

  text-align: center;
  list-style-type: none;
  list-style: none;
  margin-bottom: 5px;
}

.Index > li > a {
  color: aliceblue;
  position: relative;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  border-radius: 500px;
  width: 80%;
  background-color: #0B9;
  top:0px;
  left: 0px;
  padding: 5px 20px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  text-decoration: none;
}

.Index > li > a:hover{
  background-color: lightcoral;
}
