body{
  font-family: メイリオ;
  color: #737373;
  background-color: rgb(255, 239, 209);
  font-size: 18px;
}@media screen and (max-width:480px){
  font-size: 12px;
}

pre{
  white-space: pre-wrap;
  overflow: auto;
  word-wrap: break-word;
  color: #383838;  
}

.code {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #383838;
  padding: 10px;
  margin: 10px;
  overflow: auto;
}

.code > pre{
  color: greenyellow;

}
.blue{
  color: skyblue;
}
.darkblue{
  color: #3B5998;
}
.black{
  color: black;
}

.Panel{
  margin: 100px;
  margin-top: 0;
  margin-left: 10px;
  width: 71%;
  background-color: rgba(243, 243, 243,0.5);
  border-radius: 1%;
  box-shadow: 2px 2px 4px gray;

}
@media screen and (max-width:767px){
  .Panel{

    margin: 2px;
    width: 98%;
    border-radius: 0.1%;
  }
}


.return{
  text-align: center;
}
.return > a{
  background-color: darkorange;
  border-radius: 5%;
  padding: 5px 40px;

  color: whitesmoke;
  text-decoration: none;

}

:visited{
  color: lightcoral;
}

a:hover{
  transform: all 0.3s ease 0.5s;
  opacity: 0.5;
}
h1{
  color: #383838;
}
img{
  margin: 0px;

  
}

.CircleImage{
  animation:  bound .3s ease infinite alternate;
  border-radius:500px;
  width: 256px;
  height: 256px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width:480px){
  .CircleImage{
    width: 128px;
    height: 128px;
  }

}

@keyframes bound{
  0% {transform: translateY(10px);}
  100%{transform: translateY(-30px);}
}





.appIcon{
  border-radius: 30px;
  width: 120px;
  height: 120px;
}
@media screen and (max-width:480px){
  .appIcon{
    width: 90px;
    height: 90px;
  }
}

.appList{
  text-align: center;
}

.appList > li{
  display: inline-block;
  text-align: center;
  list-style-type: none;
  list-style: none;
  line-height: 50px;
  width: 220px;
  margin-bottom: 5px;
}

@media screen and (min-width:320px) and (max-width:480px){
  .appList > li{
    width: 160px;
  }
}

@media screen and (max-width:320px){
  .appList > li{
    width: 120px;
  }
  }


.appList > li > a{
  color: aliceblue;
  position: relative;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  border-radius: 500px;
  width: 80%;
  background-color: #0B9;
  top:0px;
  left: 0px;
  padding: 5px 20px;
  text-align: center;
  height: 30px;
  line-height: 30px;
  text-decoration: none;
}@media screen and (max-width:320px){
  .appList > li > a{
    font-size: 14px;
  }
}


.appList > li > em {
  font-size: 24px;
}

@media screen and (max-width:480px){
  .appList > li > em {
    font-size: 16px;
  }
}

@media screen and (max-width:320px){
  .appList > li > em{
    font-size: 14px;
  }
}

em{
  background-color: lightcoral;
  border-radius: 7%;
  color: whitesmoke;
  padding: 2px;
}
footer{
  text-align: center;
}

.Title{
  text-align: center;
  padding: 0px;
  font-size: 24px;
}@media screen and (max-width:480px){
  .Title{
    font-size: 16px;
  }
}

.Title > h1 > em{
  background-color: lightsalmon;
  color: whitesmoke;
  padding: 10px 50px;
  font-size: 36px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  box-shadow: 2px 2px 4px  gray;
  margin-top: 0px;

}@media screen and (max-width:480px){
  .Title > h1 > em{
    padding: 10px 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 18px;
  }
}



.Article{
  padding: 5px 10px;

  word-wrap: break-word;
}

.Article > img{
  display: block;
  max-width: 100%;
  margin: 10px auto;

}
.Article > h2{
  text-align: center;
  font-size: 24px;
}
.Article > li {
  list-style: none;
}
.Article > li > a{
  transition: opacity 0.3s ease 0.5s;
  margin-left: 25px;

}
@media screen and (max-width:480px){
  .Article > li > a{
    margin-left: 10px;
  }
}

.Article > li > a > img{
  margin: 10px;
  padding: 0px;
  opacity: 1.0f;

}


.SNS{
  padding: 10px;
  margin: 10px;
}

.SNS > li{
  display: inline;
  list-style: none;
}

.Fig{
  margin-top: -20px;
  text-align: center;
  color: #383838;
}
.Side{
  position: absolute;
  width: 28%;
  right: 0;

}@media screen and (max-width:767px){
  .Side{
    display: none;
  }
}

.Side > iframe{
  position: absolute;
  right: 0;
  width: 100%;
  height: 1200px;
}


.search , .profile , .category{
  padding: 5px;
  margin: 0;
  width: 100%;
  margin-bottom: 10px;
  
}

.profile > .back, .category > .back ,.search > .back{
  background-color: whitesmoke;
  box-shadow: 2px 2px 4px gray;
  padding-top: 5px;
  padding-bottom: 5px;
}

.profile > .back > em{
  background-color: whitesmoke;
  color: #383838;
  font-size: 16px;

}
.search > h3, .profile > h3, .category > h3{
  box-shadow: 2px 2px 4px gray;
  text-align: center;
  padding: 5px;
  border-top-left-radius: 500px;
  border-top-right-radius: 500px;
  background-color: lightsalmon;
  color: whitesmoke;
  margin-bottom: 0;
}

.share{
  text-align: center;
}

.Nav{

  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 0px;


  
}

.Nav > iframe{
  padding-top: 0;
  border: 0;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}



#Header{
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100%;
  border-bottom: 3px solid gray;
  flex-wrap: wrap;
  
}

#Header  > li{

  display: inline-block;
  margin-left: 0;
  width: 140px;
  height: 140px;
  position: relative;
  text-align: center;
  padding: 0px;
  margin: 0px;
}
@media screen and (max-width:480px){
  width: 100px;
}


#Header > li > a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);

  background-color: lightcoral;
  color: #FFF;
  display: block;
  font-size: 18px;
  font-family: "Tahoma";
  font-weight: bold;
  border: 5px solid lightcoral;
  border-radius: 500px;
  box-shadow: 2px 2px 4px gray;

  text-decoration: none;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  position: absolute;
  transition: all ease 0.2s;
  top: 0px;
  left: 0px;
}@media screen and (max-width:480px){
  #Header > li > a{
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 16px;
  }
}


#Header > li > a:hover{
  background-color: #FFF;
  opacity: 1.0;
  font-size: 28px;
  color: lightcoral;
  width: 120px;
  height: 120px;
  line-height: 120px;
  top: 0;
  left: 0;
}

@media screen and (max-width:480px){
  #Header > li > a {
    font-size: 16px;
    width: 70px;
    height: 70px;
    line-height: 70px;
  }
  
  #Header > li > a:hover{
    font-size: 18px;

    width: 80px;
    height: 80px;
    line-height: 80px;
  
  }
}
.Index{
  padding: 10px;
  margin: 10px;
  text-align: center;
}
.Index > li{
  display: flex;
  font-size: 20px;
  text-align: center;
  list-style-type: none;
  list-style: none;
  margin-bottom: 5px;
}

.Index > li > a {
  color: aliceblue;
  position: relative;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  border-radius: 500px;
  width: 100%;
  background-color: #0B9;
  box-shadow: 2px 2px 4px  gray;
  font-weight: bold;
  top:0px;
  left: 0px;
  padding: 5px 20px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  text-decoration: none;
}@media screen and (max-width:480px){
  .Index > li > a{
    font-size: 16px;
  }


}

.Index > li > a:hover{
  background-color: lightcoral;
}

.Software{
  list-style: none;
  text-align: center;
}

.Software > img{
  border-radius: 5%;
  width: 320px;
  height: 240px;
  margin-top: 20px;

}@media screen and (max-width:480px){
  .Software > img{
    width: 240px;
    height: 180px;;
  }
}

.Software > a {
  background: #0B9;
  color: whitesmoke;
  text-decoration: none;
  padding: 5px 30px;
  border-radius: 500px;
  margin: 500px 20px;
  margin-bottom: 100px;
  margin-top: 100px;

}
@media screen and (max-width:480px){
  .Software > a{
    padding: 5px 10px;
  }
}

.Tag > li {
  display: inline;
  list-style: none;

}

.Tag > li > a {
  display: inline-block;
  text-decoration: none;
  color: whitesmoke;
  font-weight: bold;
  background-color: #0B9;
  border-radius: 500px;
  padding: 5px 10px;
  margin-top: 10px;
  margin-left: 5px;
}

.Blog > li{
  list-style-image: url("https://lh3.googleusercontent.com/mVW047tqy0ecbkNmc0itQkFqq5cLMmkYEBt3dGhJ-oagDCVSg943TZgHrnm5c46CvMe07Z5W3mJVVIcjoGUmtcTKCl3gFBOWsmuMcVIe-cpd-CScQFHp2fm0n9KgMB1KKrtiCKv6Cvk2kNiXuVlRJrCTQJ87u8BjZl4MKsQ4NszYw7KLJMGOcbs18CbRfwMqSBw0EjXG3V3fDrkg7h1iBjDQlTYWxcaPyuPbpGjl3Vr1Jpy5KaetxF_J2YDTVMWwvjFm8IbKmjKC4ZqVS_Ed8CDkb-YcwtyILJmMZaFyDFgQSXr4tkGOCAyn7gxapO6tD4EOWRhGdJFitZ_4Xlna-HefpE_Rb8LaFa8OJ2CoLp1oCVeH_KLuOOFliuQ0b4E2bRWS4hyWnAHMVq8yUdBnzy8WHSQrao3pqiQfSmetwpqxz1GoNd5qDH_fPbBJMZPOKQNO9trl0UPOwyJW97et9BKFAy2asseD0OgX3eKuzWhP2-FF_KDPx_N5y7m2Y5i0LXa1pVqpJiopZDNJfqa0_L1AOHldVX9U-VNRLYymYtgrlBmXJytkkTGn0N3FBN9uasIwMbgHkck-PtVn50Lnpqkjs3gHvhygmIRMBqpMj5ts2IS5HIpOJei-1xl1UJtxCWlMTiPTUbdW5epxFMt4m-5z0YA6fR2jqmXIok8KUjMgTIVKXMKY7jg7Ua8UF7-s8Ch_bLOGTe3oEVB3-7c=s16-no");
  padding: 5px;
  margin: 15px 20px;
}
.Blog > li > a{
  background-color: whitesmoke;
  border: 2px #0B9 solid;
  text-decoration: none;
  color: #0B9;
  font-weight: bold;
  padding: 5px;
  margin: 5px;
}

.Blog > li > a:hover{
  background-color: lightcoral;
  border: 2px lightcoral solid;
  color: white;
  opacity: 1;
}

.Unity > li{
  padding: 5px;
  margin: 15px 20px;
}

.Unity > li > a{
  background-color: whitesmoke;
  border: 5px solid black;
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 5px;
  margin: 5px;
}

.Unity > li > a:hover{
  background-color: black;
  color: whitesmoke;
  opacity: 1;

}
.Blog > li > a:hover{
  background-color: lightcoral;
  border: 2px lightcoral solid;
  color: white;
  opacity: 1;
}

@media screen and (max-width:1000px){
  .Blog > li, .Unity > li{
    padding: 10px;
    margin: 10px;
  }

  .Blog > li > a, .Unity > li > a{
    padding: 0px;
    margin: 0px;
    background-color: rgba(0,0,0,0);
    border: 1px solid whitesmoke;
  }
}