<!-- Header -->
<header class="header" id="header">
    <nav class="nav">
        <div class="nav-container">
            <div class="nav-brand">
                <a href="../" class="brand-link">
                    <span class="brand-text">tsuzuki817</span>
                </a>
            </div>
            
            <ul class="nav-menu" id="nav-menu">
                <li class="nav-item">
                    <a href="../" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="../portfolio/" class="nav-link">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a href="../blog/" class="nav-link">Blog</a>
                </li>
                <li class="nav-item">
                    <a href="./" class="nav-link active">About</a>
                </li>
                <li class="nav-item">
                    <a href="../contact/" class="nav-link">Contact</a>
                </li>
            </ul>
            
            <div class="nav-toggle" id="nav-toggle">
                <span class="hamburger-line"></span>
                <span class="hamburger-line"></span>
                <span class="hamburger-line"></span>
            </div>
        </div>
    </nav>
</header>